In [140]:
# -*- coding: utf-8 -*-
import sqlite3
import pandas as pd
import csv

In [141]:
from operator import itemgetter
filename = 'loc_feeling_rating.csv'
csv_file = csv.reader(open(filename, 'r',encoding='UTF-8'))

In [142]:
df_select = pd.read_csv(filename)

In [143]:
###########
choice = [0,1,0,0,1,0]
###########

df_0 = df_select[df_select['0'] < df_select['0'].quantile(.99)]
df_0 = df_0.sort_values(by=['0'],ascending = False)
df_final = df_0[:20].sample(n=10)
df_final

      Unnamed: 0      0      1     2      3      4      5
1390        1236  196.0  236.0  28.0  111.0  171.0  187.0
6612        2532  191.0  248.0 -19.0   97.0  108.0  185.0
4696       37716  193.0  177.0  62.0   92.0  130.0  135.0
3257       37223  195.0  206.0  -3.0  187.0  103.0  184.0
6017       36096  193.0  174.0  12.0  135.0  127.0  116.0
334        36443  195.0  199.0  24.0  168.0  197.0  205.0
6276        3524  192.0  213.0  41.0  110.0  120.0  182.0
5805       36938  193.0  188.0  24.0  163.0   77.0  169.0
3222       50515  195.0  160.0  15.0  149.0  137.0  161.0
3744        2222  191.0  180.0  66.0  213.0   68.0   79.0

In [144]:
for index,values in df_final.iterrows():
    req = 'SELECT title, category_en_name, address, distinct_user_checkin_count\
      FROM weibo_location\
      WHERE weibo_location_id =' + str(values[0])
    c.execute(req)
    info_todo = c.fetchall()
    print(info_todo)

[('避风塘大宁店', 'Cantonese cuisine', '上海市,闸北区,大宁路', 742)]
[('好乐迪量贩式KTV（淮海中路店）', 'KTV', '上海市,卢湾区,重庆中路', 2186)]
[('正一品(金汇南路店)', 'Korean cuisine', '上海市,闵行区,金汇南路', 768)]
[('MUSE', 'Other', '上海市,黄浦区,北京东路', 1353)]
[('耀華路', 'Unknown Classification', '上海市,浦东新区,耀华路', 248)]
[('浦东市民中心', 'Bus Station', '上海市,浦东新区,合欢路', 1161)]
[('上海小南国花园酒店', 'Hotels, guest houses', '上海市,杨浦区,佳木斯路', 652)]
[('一品全大酒店(外高桥店)', 'Shanghai cuisine', '上海市,浦东新区,夏碧路', 282)]
[('阳城·贵都', 'Residences', '上海市,闸北区,永和路', 235)]
[('上海歌城(中兴路店)', 'KTV', '上海市,闸北区,南北高架路', 841)]